<template>
  <div>
    <b-container class="bv-example-row" id = "BG">
  <b-row>
    <b-col>
    <h1>ข้อมูลงาน</h1>
    <b-form @submit="onSubmit" @reset="onReset" v-if="show">
      <b-form-group
        id="input-group-1"
        label="ชื่อตำแหน่ง:"
        label-for="positionName"
        description="กรุณาอย่าใช้อักขระพิเศษในการกำหนดชิ้อตำแหน่งงาน"
      >
        <b-form-input
          id="positionName"
          v-model="form.comName"
          placeholder="กรอกชื่อตำแหน่งงาน"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-2" label="ประเภทการจ้างงาน:" label-for="HireType">
        <b-form-input
          id="HireType"
          v-model="form.hiretype"
          placeholder="ระบุประเภทการจ้างงาน"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-3" label="เงินเดือน:" label-for="IncomeType">
        <b-form-select
          id="IncomeType"
          v-model="form.incometype"
          :options="incometype"
          required
        ></b-form-select>
      </b-form-group>
<b-form-row>
    <b-col>
        <b-form-input type ="number"
          id="LowerIncome"
          v-model="form.lowerincome"
          placeholder="ระบุเงินเดือนขั้นต่ำ"
          required
        ></b-form-input>
    </b-col>
        <b-col>
        <b-form-input type ="number"
          id="HigherIncome"
          v-model="form.higherincome"
          placeholder="ระบุเงินเดือนสูงสุด"
          required
        ></b-form-input>
    </b-col>
</b-form-row>

<b-form-group>
    <!-- space -->
    </b-form-group>

      <b-form-group id="input-group-4" label="สวัสดิการ:" label-for="Welfare">
        <b-form-input
          id="Welfare"
          v-model="form.welfare"
          placeholder="ระบุสวัสดิการของบริษัท"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-5" label="รายละเอียดงาน:" label-for="JobDescript">
        <b-form-input
          id="JobDescript"
          v-model="form.jobdescript"
          placeholder="ระบุรายละเอียดของตำแหน่งงาน"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-6" label="ประสบการณ์การทำงาน:" label-for="HiredHistory">
        <b-form-select
          id="HiredHistory"
          v-model="form.hiredhistory"
          :options="hiredhistory"
          required
        ></b-form-select>
      </b-form-group>

      <b-form-group id="input-group-7" label="ระดับการศึกษา:" label-for="Education">
        <b-form-select
          id="Education"
          v-model="form.education"
          :options="education"
          required
        ></b-form-select>
      </b-form-group>
      <b-form-group id="input-group-8" label="อายุ:" label-for="Age">
        <b-form-input type ="number"
          id="Age"
          v-model="form.age"
          placeholder="กรอกอายุ"
          required
        ></b-form-input>
      </b-form-group>
      <b-form-group id="input-group-9" label="เพศ:" label-for="Gender">
        <b-form-select
          id="Gender"
          v-model="form.gender"
          :options="gender"
          required
        ></b-form-select>
      </b-form-group>
      <!-- <b-form-group id="input-group-4" v-slot="{ ariaDescribedby }">
        <b-form-checkbox-group
          v-model="form.checked"
          id="checkboxes-4"
          :aria-describedby="ariaDescribedby"
        >
          <b-form-checkbox value="me">Check me out</b-form-checkbox>
          <b-form-checkbox value="that">Check that out</b-form-checkbox>
        </b-form-checkbox-group>
      </b-form-group> -->
      <b-button type="submit" variant="primary">ตกลง</b-button> &nbsp;
      <b-button type="reset" variant="danger">ยกเลิก</b-button>
    </b-form>
    <b-card class="mt-3" header="Form Data Result">
      <pre class="m-0">{{ form }}</pre>
    </b-card>
    </b-col>
  </b-row>
</b-container>
  </div>
</template>
<style>
#BG{
    background-color: rgb(204, 204, 204);
}
</style>

<script>
export default {
  data () {
    return {
      form: {
        comName: '',
        hiretype: '',
        incometype: null,
        lowerincome: null,
        higherincome: null,
        hiredhistory: null,
        code: '',
        welfare: '',
        jobdescript: '',
        age: null,
        gender: null,
        education: null
      },
      incometype: [
        { text: '---กรุณาเลือกประเภทรายได้---', value: null },
        'รายวัน',
        'รายอาทิตย์',
        'รายเดือน'
      ],
      hiredhistory: [
        { text: '---ประสบการณ์การทำงาน---', value: null },
        'ไม่ต้องการประสบการณ์ทำงาน',
        'ต้องการประสบการณ์ทำงาน'
      ],
      education: [
        { text: '---ระดับการศึกษา---', value: null },
        'ไม่ต้องการวุฒิการศึกษา',
        'ต้องการวุฒิการศึกษา'

      ],
      gender: [
        { text: '---เพศ---', value: null },
        'ชาย',
        'หญิง'

      ],
      show: true
    }
  },
  methods: {
    onSubmit (event) {
      event.preventDefault()
      alert(JSON.stringify(this.form))
    },
    onReset (event) {
      event.preventDefault()
      // Reset our form values
      this.form.comName = ''
      this.form.hiretype = ''
      this.form.incometype = null
      this.form.lowerincome = null
      this.form.higherincome = null
      this.form.hiredhistory = null
      this.form.age = null
      this.form.code = ''
      this.form.welfare = ''
      this.form.jobdescript = ''
      this.form.gender = null
      this.form.education = null
      // this.form.checked = []
      // Trick to reset/clear native browser form validation state
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    }
  }
}
</script>
