<template>
  <b-container fluid>
    <!-- User Interface controls -->
    <b-row>
      <b-col lg="6" class="my-1">
      </b-col>

      <b-col lg="6" class="my-1">
      </b-col>

      <b-col lg="6" class="my-1">
        <b-form-group
          label="ค้นหา"
          label-for="filter-input"
          label-cols-sm="3"
          label-align-sm="right"
          label-size="sm"
          class="mb-0"
        >
          <b-input-group size="sm">
            <b-form-input
              id="filter-input"
              v-model="filter"
              type="search"
              placeholder="พิมพ์ข้อมูลที่จะค้นหา"
            ></b-form-input>
          </b-input-group>
        </b-form-group>
      </b-col>

      <b-col lg="6" class="my-1">
      </b-col>
    <!-- Main table element -->
    <b-table
      :items="items"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :filter-included-fields="filterOn"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
      stacked="md"
      show-empty
      small
      @filtered="onFiltered"
    >
      <template #cell(name)="row">
        {{ row.value.first }} {{ row.value.last }}
      </template>

      <template #cell(actions)="row">
        <b-button
          size="sm"
          @click="info(row.item, row.index, $event.target)"
          class="mr-1"
        >
          สมัคร
        </b-button>
        <b-button size="sm" @click="row.toggleDetails">
          {{ row.detailsShowing ? 'ปิด' : 'แสดง' }}รายละเอียด
        </b-button>
      </template>

      <template #row-details="row">
        <b-card>
          <ul>
            <li v-for="(value, key) in row.item" :key="key">
              {{ key }}: {{ value }}
            </li>
          </ul>
        </b-card>
      </template>
    </b-table>

    <!-- Info modal -->
    <b-modal
      :id="infoModal.id"
      :title="infoModal.title"
      ok-only
      @hide="resetInfoModal"
    >
      <pre>{{ infoModal.content }}</pre>
    </b-modal>
    <b-col class="center">
        <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  data () {
    return {
      items: [
        { salaryMin: 75000, salaryMax: 150000, isActive: true, positionName: 'พนักงานบัญชี', comName: 'Joke Company' },
        { salaryMin: 24500, salaryMax: 75000, isActive: false, positionName: 'Shop Manager', comName: 'แมลงทอดวิปริต' },
        { salaryMin: 15000, salaryMax: 30000, isActive: false, positionName: 'ช่างซ่อมแอ', comName: 'ไทยน้ำโขง', _rowVariant: 'success' },
        { salaryMin: 27500, salaryMax: 32500, isActive: false, positionName: 'พนักงานบัญชี', comName: 'บางแสนจำกัด' },
        { salaryMin: 65000, salaryMax: 75200, isActive: true, positionName: 'พนักงานต้อนรับ', comName: 'พัทยาพาเพลินไทยศิวไลย์' },
        { salaryMin: 40000, salaryMax: 45000, isActive: false, positionName: 'Programmer', comName: 'T2O' },
        { salaryMin: 17500, salaryMax: 45000, isActive: true, positionName: 'พนักงานบัญชี', comName: '78Company' },
        { salaryMin: 68500, salaryMax: 75000, isActive: true, positionName: 'พนักงานขาย', comName: 'แมลงทอดวิปริต', _cellVariants: { age: 'danger', isActive: 'warning' } },
        { salaryMin: 7500, salaryMax: 15000, isActive: false, positionName: 'นักพัฒนาแผนอนาคต', comName: 'ไทยน้ำโขง' },
        { salaryMin: 27500, salaryMax: 30500, isActive: false, positionName: 'Sale Man', comName: 'ไทยศิวไลย์' },
        { salaryMin: 60000, salaryMax: 65822, isActive: true, positionName: 'Building Engineer', comName: 'ไทยน้ำโขง' },
        { salaryMin: 10000, salaryMax: 12222, isActive: false, positionName: 'พนักงานบัญชี', comName: 'ไทยน้ำโขง' }
      ],
      fields: [
        {
          key: 'comName',
          label: 'ชื่อบริษัท',
          sortable: true,
          sortDirection: 'desc'
        },
        {
          key: 'positionName',
          label: 'ตำแหน่ง',
          sortable: true,
          class: 'text-center'
        },
        {
          key: 'isActive',
          label: 'สถานะ',
          formatter: (value, key, item) => {
            return value ? 'ว่าง' : 'ไม่ว่าง'
          },
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true
        },
        {
          key: 'salaryMin',
          label: 'เงินเดือนขั้นต่ำ',
          sortable: true,
          class: 'text-center'
        },
        {
          key: 'salaryMax',
          label: 'เงินเดือนสูงสุด',
          sortable: true,
          class: 'text-center'
        },
        { key: 'actions', label: 'Actions' }
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15, { value: 100, text: 'Show a lot' }],
      sortBy: '',
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      filterOn: [],
      infoModal: {
        id: 'info-modal',
        title: '',
        content: ''
      }
    }
  },
  computed: {
    sortOptions () {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key }
        })
    }
  },
  mounted () {
    // Set the initial number of items
    this.totalRows = this.items.length
  },
  methods: {
    info (item, index, button) {
      this.infoModal.title = `Row index: ${index}`
      this.infoModal.content = JSON.stringify(item, null, 2)
      this.$root.$emit('bv::show::modal', this.infoModal.id, button)
    },
    resetInfoModal () {
      this.infoModal.title = ''
      this.infoModal.content = ''
    },
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    }
  }
}
</script>
