<template>
  <b-container fluid>
    <b-row>
      <b-col><NavbarHeader></NavbarHeader></b-col>
    </b-row>
    <b-row>
      <b-col cols="1"><Menu></Menu></b-col>
      <b-col><router-view></router-view></b-col>
    </b-row>
  </b-container>
</template>
<script>
import Menu from './Menu.vue'
import NavbarHeader from './NavbarHeader.vue'
export default {
  components: {
    Menu,
    NavbarHeader
  }
}
</script>
