<style>
#id{
    background-color: rgb(21, 124, 27);
}
</style>
<template>

  <div class="side">
    <b-button v-b-toggle.sidebar-1 variant="dark">Main menu</b-button>
    <b-sidebar id="sidebar-1" title="Menu" :backdrop-variant="variant"
      backdrop
      shadow >
      <div>
        <b-nav vertical class="w-28"  >
          <b-nav-item ><router-link to="/" >Home</router-link></b-nav-item>
          <b-nav-item
            ><router-link to="/position" >ตำแหน่งงาน</router-link></b-nav-item
          >
          <b-nav-item
            disabled><router-link to="/createnewcompany"
              >จัดการบริษัท(สำหรับแอดมิน)</router-link
            ></b-nav-item
          >
          <b-nav-item
            disabled><router-link to="/personcreatenewcompany"
              >สร้างบริษัท(สำหรับบุคคล)</router-link
            ></b-nav-item
          >
          <b-nav-item
            disabled><router-link to="/createjob"
              >โพสงาน</router-link
            ></b-nav-item
          >
        </b-nav>
      </div>
    </b-sidebar>
  </div>
</template>

<style>
.side {
  margin: 10px 0px 10px 0px;
}
</style>
