<template>
  <div>
    <b-container class="bv-example-row">
  <b-row>
    <b-col>
    <h1>ข้อมูลบริษัท</h1>
    <b-form @submit="onSubmit" @reset="onReset" v-if="show">
      <b-form-group
        id="input-group-1"
        label="ชื่อบริษัท:"
        label-for="companyName"
        description="กรุณาอย่าใช้อักขระพิเศษในการกำหนดชื่อบริษัท"
      >
        <b-form-input
          id="companyName"
          v-model="form.comName"
          placeholder="กรอกชื่อบริษัท"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-2" label="ที่อยู่:" label-for="Address">
        <b-form-input
          id="Address"
          v-model="form.address"
          placeholder="ที่อยู่"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-3" label="จังหวัด:" label-for="Province">
        <b-form-select
          id="Province"
          v-model="form.province"
          :options="province"
          required
        ></b-form-select>
      </b-form-group>

      <b-form-group id="input-group-4" label="อำเภอ/เขต:" label-for="District">
        <b-form-select
          id="District"
          v-model="form.district"
          :options="district"
          required
        ></b-form-select>
      </b-form-group>

      <b-form-group id="input-group-5" label="ตำบล/แขวง:" label-for="Parish">
        <b-form-select
          id="Parish"
          v-model="form.parish"
          :options="parish"
          required
        ></b-form-select>
      </b-form-group>

      <b-form-group id="input-group-6" label="รหัสไปรษณีย์:" label-for="Code">
        <b-form-input
          id="Code"
          v-model="form.code"
          placeholder="รหัสไปรษณีย์"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-7" label="รหัสไปรษณีย์:" label-for="Tel">
        <b-form-input
          id="Tel"
          v-model="form.tel"
          placeholder="เบอร์โทร"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-8" label="อีเมล:" label-for="email">
        <b-form-input
          id="email"
          v-model="form.email"
          placeholder="อีเมล"
          required
        ></b-form-input>
      </b-form-group>
      <b-form-group>
         <b-form-checkbox value="that">ฉันยอมรับ <b-link href ="https://www.google.com">ข้อตกลงและเงื่อนไข</b-link> การเป็นสมาชิกผู้ประกอบการทุกประการ</b-form-checkbox>
      </b-form-group>
      <!-- <b-form-group id="input-group-4" v-slot="{ ariaDescribedby }">
        <b-form-checkbox-group
          v-model="form.checked"
          id="checkboxes-4"
          :aria-describedby="ariaDescribedby"
        >
          <b-form-checkbox value="me">Check me out</b-form-checkbox>
          <b-form-checkbox value="that">Check that out</b-form-checkbox>
        </b-form-checkbox-group>
      </b-form-group> -->
      <b-button type="submit" variant="primary">Submit</b-button> &nbsp;
      <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>
    <b-card class="mt-3" header="Form Data Result">
      <pre class="m-0">{{ form }}</pre>
    </b-card>
    </b-col>
    <b-col>
      <b-container fluid class ="p-4">
         <b-row>
           <b-img class ="p-4" src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/OE7CT70.jpg" width="420px" height="360px"></b-img>
           </b-row>
            <b-row>
              <b-img class ="p-4" src="https://www.jobbkk.com/assets/template/jobbkk/theme02/images/2179.jpg" width="420px" height="360px" ></b-img>
              </b-row>
            <b-row>
              <b-img class ="p-4" src="https://pbs.twimg.com/media/Ep8V9LpUcAEaruF?format=jpg&name=large" width="420px" height="360px" ></b-img>
              </b-row>

       </b-container>
    </b-col>
  </b-row>
</b-container>
  </div>
</template>
<script>
export default {
  data () {
    return {
      form: {
        comName: '',
        address: '',
        province: null,
        district: null,
        parish: null,
        code: '',
        tel: '',
        email: ''
      },
      province: [
        { text: '---กรุณาเลือกจังหวัด---', value: null },
        'กระบี่',
        'กรุงเทพมหานคร',
        'กาญจนบุรี',
        'กาฬสินธุ์'
      ],
      district: [
        { text: '---กรุณาเลือกอำเภอ---', value: null },
        'อำเภอ_01',
        'อำเภอ_02',
        'อำเภอ_03',
        'อำเภอ_04'
      ],
      parish: [
        { text: '---กรุณาเลือกตำบล---', value: null },
        'ตำบล_01',
        'ตำบล_02',
        'ตำบล_03',
        'ตำบล_04'
      ],
      show: true
    }
  },
  methods: {
    onSubmit (event) {
      event.preventDefault()
      alert(JSON.stringify(this.form))
    },
    onReset (event) {
      event.preventDefault()
      // Reset our form values
      this.form.comName = ''
      this.form.address = ''
      this.form.province = null
      this.form.district = null
      this.form.parish = null
      this.form.code = ''
      this.form.tel = ''
      this.form.email = ''
      // this.form.checked = []
      // Trick to reset/clear native browser form validation state
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    }
  }
}
</script>
