<template>
  <div>
    <div class="me1">
      <b-button variant="success" class="float-right" @click="addNewUser"
        >Add New</b-button
      >
    </div>
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="ชื่อบริษัท"
          label-for="companyName"
          :invalid-feedback="invalidFeedbackcompanyName"
          :valid-feedback="validFeedbackcompanyName"
          :state="statecompanyName"
        >
          <b-form-input
            id="companyName"
            v-model="form.companyName"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="จังหวัด:"
          label-for="Province"
          :invalid-feedback="invalidFeedbackProvince"
          :valid-feedback="validFeedbackProvince"
          :state="stateProvince"
        >
          <b-form-select
            id="Province"
            v-model="form.Province"
            :options="ProvinceOption"
            required
          ></b-form-select>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editUser(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data.item)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>
<script>
import userService from './CNCService'
export default {
  data () {
    return {
      title: 'เพิ่มบริษัท',
      form: {
        id: -1,
        companyName: '',
        Province: null
      },
      ProvinceOption: [
        { text: '---กรุณาเลือกจังหวัด---', value: null },
        'กระบี่',
        'กรุงเทพมหานคร',
        'กาญจนบุรี',
        'กาฬสินธุ์'
      ],
      userList: [],
      fields: ['id', 'companyName', 'Province', 'operation']
    }
  },
  methods: {
    addNewUser () {
      console.log('Add new user')
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      console.log('edit' + user)
      this.title = 'แก้ไขข้อมูลบริษัท'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      console.log('delete' + user)
      this.$bvModal
        .msgBoxConfirm('จะลบ ' + user.companyName + ' จริงหรอ!', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            // this.deleteUser(user)
            userService.deleteUser(user)
            this.userList = userService.getUsers()
          }
        })
    },
    resetModal () {
      this.form = {
        id: -1,
        companyName: '',
        Province: null
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Exit when the form isn't valid
      if (this.statecompanyName === false || this.stateProvince === false) {
        return
      }
      // Push the companyName to submitted companyNames
      if (this.form.id > 0) {
        // this.updateUser(this.form)
        userService.updateUser(this.form)
        this.userList = userService.getUsers()
      } else {
        // this.addUser(this.form)
        userService.addUser(this.form)
        this.userList = userService.getUsers()
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    addUser (user) {
      user.id = this.lastId++
      this.userList.push(user)
    },
    updateUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1, user)
    },
    deleteUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1)
    }
  },
  computed: {
    statecompanyName () {
      return this.form.companyName.length >= 2
    },
    invalidFeedbackcompanyName () {
      if (this.form.companyName.length > 2) {
        return ''
      } else if (this.form.companyName.length > 0) {
        return 'ชื่อบริษัทต้องมีตัวอักษรอย่างน้อย 2 ตัว'
      } else {
        return 'กรุณาใส่ชื่อบริษัท'
      }
    },
    validFeedbackcompanyName () {
      return this.statecompanyName === true ? 'สำเร็จ' : ''
    },

    stateProvince () {
      return this.form.Province != null
    },
    invalidFeedbackProvince () {
      if (this.form.companyName.length > 2) {
        return ''
      } else {
        return 'กรุณาเลือกจังหวัด'
      }
    },
    validFeedbackProvince () {
      return this.stateProvince === true ? 'สำเร็จ' : ''
    }
  },
  mounted () {
    console.log('Vue component is mounted.')
    this.userList = userService.getUsers()
  }
}
</script>
<style>
.me1 {
  margin: 10px 0px 10px 0px;
}
</style>
