<template>
  <div id="app">
    <MainLayout></MainLayout>
    <!-- <LoginScript></LoginScript> -->
  </div>
</template>

<script>
import MainLayout from './components/MainLayout.vue'
// import LoginScript from './components/LoginScript.vue'
export default {
  components: {
    MainLayout
    // LoginScript
  }
}
</script>
